### Python libs & Configs

In [1]:
import pickle # Serialization and deserialization
import pandas as pd # Package to manage dataframe like in R
import numpy as np # Scientific computing package
import random

import matplotlib.pyplot as plt # Basic package for statistical data visualization
import seaborn as sns # Advanced package for statistical data visualization

# In order to display figures inside the notebook:
%matplotlib inline

# Display trick to display all columns of large dataframes
from IPython.display import display
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
SAVED_FOLDER = './data'

### Preparation

#### Distance function

In [3]:
from math import radians, cos, sin, asin, sqrt

AVG_EARTH_RADIUS = 6371  # in km

def haversine(point1, lat2,lng2):
    """ Calculate the great-circle distance bewteen two points on the Earth surface.

    :input: two 2-tuples, containing the latitude and longitude of each point
    in decimal degrees.

    Example: haversine((45.7597, 4.8422), (48.8567, 2.3508))

    :output: Returns the distance bewteen the two points.
    The default unit is kilometers. Miles can be returned
    if the ``miles`` parameter is set to True.

    """
    # unpack latitude/longitude
    lat1, lng1 = point1

    # convert all latitudes/longitudes from decimal degrees to radians
    lat1, lng1, lat2, lng2 = map(radians, (lat1, lng1, lat2, lng2))

    # calculate haversine
    lat = lat2 - lat1
    lng = lng2 - lng1
    d = sin(lat * 0.5) ** 2 + cos(lat1) * cos(lat2) * sin(lng * 0.5) ** 2
    h = 2 * AVG_EARTH_RADIUS * asin(sqrt(d))

    return h  # in kilometers

#### Data import

In [4]:
business_df = pd.read_pickle('{}/business.pickle'.format(SAVED_FOLDER))
users_df = pd.read_pickle('{}/user.pickle'.format(SAVED_FOLDER))
review_df = pd.read_pickle('{}/review.pickle'.format(SAVED_FOLDER))

In [5]:
# ordonner les villes par nombre de restaurants
business_df_test = business_df.copy()
print(business_df_test.groupby(['city']).agg({'business_id':'count'}).reset_index().sort_values(['business_id'], ascending = False))

                    city  business_id
169            Las Vegas        17423
270              Phoenix        10629
59             Charlotte         5189
326           Scottsdale         5139
224             Montréal         3891
280           Pittsburgh         3337
101            Edinburgh         3272
205                 Mesa         3190
140            Henderson         2839
366                Tempe         2773
55              Chandler         2425
190              Madison         2104
125             Glendale         1823
122              Gilbert         1716
266               Peoria          929
156            Karlsruhe          898
253      North Las Vegas          819
362             Surprise          587
54             Champaign          462
131             Goodyear          459
12              Avondale          386
288          Queen Creek          348
196             Matthews          346
375               Urbana          262
386             Waterloo          262
117            Fort Mill          238
48            Cave Creek          229
210            Middleton          208
174                Laval          196
159            Kitchener          188
..                   ...          ...
226       Montréal-Ouest            1
157     Kennedy Township            1
192          Maricopa AZ            1
161     L'Île-des-Soeurs            1
163               La Paz            1
167       Lake Las Vegas            1
171        Las Vegas, NV            1
178         Le Sud-Ouest            1
179        Le Vieux-Port            1
182     Litchfield Park             1
184               Locust            1
185               London            1
187          Los Angeles            1
188  Lower Lawrenceville            1
189                 MMRP            1
193            Mascouche            1
222       Montreal-Ouest            1
194              Mathews            1
195              Mattews            1
199          McAdenville            1
202           McKeesport            1
1         110. Las Vegas            1
207              Mesa AZ            1
208        Metro Phoenix            1
209                 Meza            1
213        Milton Bridge            1
215              Mirabel            1
217               Monroe            1
220         Montreal-Est            1
411       Île des Soeurs            1

[412 rows x 2 columns]

In [6]:
category = 'Restaurants'
dist_max = 10 #en km
rating_min = 4 #Sur 5 étoiles max
city = 'Las Vegas' # prendre une ville

In [7]:
#Premier filtrage des business, général

# Choisir les users qui ont des amis
users_df['nb_friends'] = users_df['friends'].apply(len)
users_df = users_df[users_df['nb_friends'] > 0]

#On travaille sur les colones qui nous intéressent
selected_businesses = business_df[['business_id','categories','city','latitude','longitude','stars']]

#On crée un champ pour filtrer sur la catégorie
selected_businesses['right_category'] = selected_businesses.apply(lambda x : category in x['categories'],axis=1)
del(selected_businesses['categories'])

#on filtre par catégorie et la note
selected_businesses = selected_businesses[selected_businesses['right_category'] == True]
selected_businesses = selected_businesses[selected_businesses['stars'] >= rating_min]
del(selected_businesses['stars'])

# On filtre par ville
selected_businesses = selected_businesses[selected_businesses['city'] == city]

print(selected_businesses.shape)
selected_businesses.head()

(1674, 5)

                business_id       city   latitude   longitude  right_category
94   7YnyiTdXPyuDkeM_VED7XQ  Las Vegas  36.104435 -115.136785            True
136  94HshaJUV3DLvXkvbCbZqg  Las Vegas  36.136924 -115.163492            True
143  P8gXyZy1ZS7B4S20q8hzPQ  Las Vegas  36.119112 -115.279733            True
152  er6gWRnG0YgUav-d8MZ9Zw  Las Vegas  36.219223 -115.242704            True
190  tQQxehL2ZVGp7MqAxtSU_g  Las Vegas  36.143146 -115.259983            True

In [8]:
# Filtre reviews par selected business
selected_businesses_list = selected_businesses['business_id'].tolist()
selected_review_df = review_df[review_df['business_id'].isin(selected_businesses_list)]
selected_review_df.shape

(277065, 8)

In [10]:
pickle.dump( selected_review_df, open( "./output/selected_review_df.pickle", "wb" ) )

In [9]:
lat_min = selected_businesses['latitude'].min()
lat_max = selected_businesses['latitude'].max()
long_min = selected_businesses['longitude'].min()
long_max = selected_businesses['longitude'].max()

In [22]:
#Second filtrage des businesses, dépendant de l'utilisateur
import time

#Le test set sous forme de dataframe
testset_df = pd.DataFrame()

user_list_full = users_df['user_id'].reset_index()
user_list = user_list_full['user_id'].iloc[:100].tolist()
user_id_code = users_df['id'].tolist()

time_start = time.time()
for u_id in user_list:
    # Random user in Las Vegas:
    user_pos = (lat_min + random.random() * (lat_max - lat_min), random.random() * (long_max - long_min) + long_min)
    
    #On crée la liste des businesses déjà visités par l'utilisateur
#     visited_businesses = list(checkin_byhourday_df[checkin_byhourday_df['id'] == user_id_code[user_list.index(u_id)]]['business_id'])
    
    selected_businesses_for_user = selected_businesses.copy()

    #On crée un champ pour filtrer sur la distance
    selected_businesses_for_user['distance_user'] = selected_businesses_for_user.apply(lambda x:haversine(user_pos,x['latitude'],x['longitude']),axis=1)
    del(selected_businesses_for_user['latitude'])
    del(selected_businesses_for_user['longitude'])

    #on filtre par la distance et si l'utilisateur y est déjà allé
    selected_businesses_for_user = selected_businesses_for_user[selected_businesses_for_user['distance_user'] < dist_max]
#     selected_businesses_for_user = selected_businesses_for_user[-selected_businesses_for_user['business_id'].isin(visited_businesses)]
    
    #on cree un dataframe pour l'utilisateur u_id
    testset_user_df = pd.DataFrame()
    testset_user_df['distance'] = selected_businesses_for_user['distance_user']
    testset_user_df['businesses'] = selected_businesses_for_user['business_id']
    testset_user_df['user'] = u_id
    
    testset_df = testset_df.append(testset_user_df)

print('Time spent:', round(time.time() - time_start,2),'s')
testset_df.shape

00037460-4f2b-4268-b268-449ac1edfbe1
00003901-b68b-4a4d-8db5-33fb365f773a
000087c7-1694-4ffc-9d62-a44450369fac
00028f10-82a5-4327-aa5d-e338ff7be456
0000c74a-cdbd-47e3-a1dc-e5f486883e0a
0003a2ea-3f7a-49ec-9a18-4e0361f6c38a
0000f17e-08d5-4d97-8380-12034b329472
0000b0c3-e82d-4ad4-8aa9-214ff3c5eac9
0003cfb5-b0f2-45ff-8ae9-a975d62ff0c1
00012a10-b0c5-458c-8953-72895a124681
0004b3ff-f90f-413c-8d56-f9675b9de1db
00059d79-7003-410d-a97e-6a4062146b61
000479e6-1cb7-4b08-97a8-a77b79579567
0001aeb2-dc1c-4b36-80bd-b574b32235bb
00077447-8604-426d-a918-0108c3ec9796
000816ff-33aa-4536-a808-ecd0cef60909
0005d836-a94d-4161-8086-f0b4e0dad511
0005310c-ef83-4f75-be92-366350160012
00040cd8-4b78-4a07-ab2c-068360acc175
0006028c-30af-401f-845b-5ca50d296178
00053f07-27ad-41c5-b832-b09e6d2baad8
0005282d-2050-4e6e-940e-5c8ac05e34aa
0007ffa2-f50e-4d79-86c3-53742fbe787b
00056207-c667-437c-b4bb-176a43bf911b
000832aa-83c4-40d7-b6e8-da852f2840f7
0007eb95-6a8a-44ea-8b64-2612b33f1736
000ac1d1-3cb8-4c34-84f5-122e2c4006cf
0006204d-ce81-4687-964a-c2c4a813b1d2
00046ea9-a88c-483b-b5c3-eb83d3bf1d5e
00047536-9ebd-449b-a0ca-3163a2ca4b1f
000902c8-1983-4ed3-81e2-c8b7605e0b42
000b7152-165c-451a-8ea2-f664260bcc48
000593c1-c4bd-456e-95bb-461362ba1186
000836ff-36cf-4095-b788-77d0bda18cfa
00083b60-6938-4f32-b4a8-3942f6a5151a
000ad844-cfb7-4091-ab46-e90f6e2d1b98
0006070d-837a-4708-90a0-b2d0de8a53f6
0005c110-f0e6-4559-9093-f1cb9a792e4d
000c65d9-ea23-4002-8695-4e1a4b89a95a
000c4a45-559e-4075-8763-35c9be52447e
00081a7b-1f82-48c6-9c0b-33bed951dcb7
00099ec6-75a6-4c74-9de8-f90ef3b16eb4
000d6221-fc2f-4184-9e98-7853730a9718
0003918e-97d9-4416-9cc8-cbef99503c22
0009f629-1f4b-4e99-ba41-68d6b8c28ba3
000ff3aa-906f-4c42-b720-4d066343708f
00084224-d659-4bc6-8db8-4305f597b7aa
000a1f32-146e-4a99-8898-bb7438c6c92a
000e5fc0-87ba-4932-8012-07033ff5cf02
000a902e-89bb-412b-8b06-67dc91bdc238
0005f4c5-ee67-43ae-9d4a-2e5657dc6bd9
000a8a68-46d2-467c-b85d-785a6770cbb8
00109e7b-4ecc-4d2b-9600-4def4e6e03a0
000e007b-6dff-4bc9-87f0-e60f716b43ff
000bcb12-520f-4e3c-9330-a4fec4bb7295
000bf311-e210-48a8-a7d5-3dd89715401e
0011bdfa-a02a-445a-aa30-a0b188cc1dd0
000a2a3f-e670-484b-a5a1-44c51e4c76b6
00115109-7d33-4d69-a45f-52a7d4bcf8d2
000bfa8b-e8d2-4336-939f-678e0dc2d9a3
000e0254-2c81-4826-b95a-31f49d660163
001259ff-3d33-4534-81df-fc349a7b43c6
000cf5ae-b7f9-4f98-a1a7-510873beeeeb
00115632-f7b3-49a1-bbc3-8d8e2135e499
00123b23-0d8b-4015-818c-841b8edcd05d
001185ad-1007-48e8-bc2c-2281b317d240
00148ee8-a137-450f-bf04-534ede746bcf
0013f9e9-ce27-4670-b573-e19b3d7fa13d
00112231-8bf4-4a94-8716-10b8251c1f28
000f7ede-a92e-435f-9ab2-ee19ee5f05b7
00129fed-791f-40d1-a403-240f895c5057
000edf58-92c4-4364-b229-9f9906be1621
00141edc-65b2-4c63-9939-1f99b01c8f9e
001018aa-dee1-4e52-97e6-d28de4a162a3
00137440-f4d0-4c5a-bf3a-b9d5934f4b45
0016877a-ad53-4467-81af-68b71725bbef
000cf36a-1691-47b8-941e-7001117f98ef
00100d1a-9875-4c85-9557-f987d2ca45c9
00110c32-9bbc-4062-8474-70cf418fe7b0
001112d0-7e5f-47c7-ad8d-1e030a7e6849
00162644-5bbc-423b-ab4e-07370df39f56
001440d2-f162-4484-830f-5c96231ff880
001db666-d5ff-4675-a78c-e2ea4aa1b3cb
0015bd4b-d846-4785-abaf-2aa42430f4ff
00191da8-bb55-495f-bd28-4ea261e6bdd7
000f7dfd-6c3d-4bcc-9338-2b4ce962213a
001e3c39-98f0-44bc-a30a-bf83d31ec194
00114284-9e40-43e5-bbd3-c453e76b161d
001928a0-a06a-4553-b643-bb19048513d4
000f9732-46de-4e8f-85ae-2ba71e886e61
001e6c1d-f5e7-42bc-a3e3-22a945e464d6
0011e9a4-e4e1-4a43-bce2-671450eff21d
001a86cc-ab73-4e0c-a7e5-e627e6df0505
0018b3e3-6dbd-42c5-8818-b5db118c319d
001c8655-49e2-4100-94be-3059b8061fc6
0013ab75-87ac-4f68-bfee-58523dd53e8d
00114602-e2c2-4705-b82d-3ceebaf01404
001b1b29-e82f-4cab-8e66-e8d47de04d99
00193f8b-dd97-443f-a49f-108bc6f3a506
001c421b-3fbe-4d20-b071-d228811c6c26
Time spent: 19.12 s

(43290, 3)

#### Create testset

In [10]:
# Ajouter les scores entre 1 et 5
testset_df['star'] = random.randint(1, 5)
# Reinitialiser index
testset_df = testset_df.reset_index()
# Faciliter la recherche
index_list = user_list_full['index'].tolist()
user_id_list = user_list_full['user_id'].tolist()

In [11]:
testset_df.head()

   index  distance              businesses                    user  star
0   2493  8.573528  rR8zCmZCalQTX6AQ_9iDyg  rbWWVwvO1729FRTc9SuKLQ     5
1   3226  8.132945  -584fn2GxYe9sLsgN2WeQA  rbWWVwvO1729FRTc9SuKLQ     5
2   3365  8.623651  P1BK2ke-N4XLsBSNWpSeLQ  rbWWVwvO1729FRTc9SuKLQ     5
3   3427  8.125041  kxAQStRhLvv8fM02OlAZxg  rbWWVwvO1729FRTc9SuKLQ     5
4   3892  8.456015  rKD-phI46Uc-sQ14lv258w  rbWWVwvO1729FRTc9SuKLQ     5

In [12]:
LS_user_100 = []
for row in testset_df.itertuples():
    LS_user_100.append([index_list[user_id_list.index(row[4])], row[1], row[5]])

#### Save

In [13]:
# Save the list in format 'a b c'
thefile = open('./output/LS_user_100.txt', 'w')
for item in LS_user_100: 
    thefile.write("%s\n" % (str(item[0]) + ' ' + str(item[1]) + ' ' + str(item[2])))

In [14]:
# Save file
pickle.dump( testset_df, open( "./output/testset_df.pickle", "wb" ) )
pickle.dump( index_list, open( "./output/index_list.pickle", "wb" ) )
pickle.dump( user_id_list, open( "./output/user_id_list.pickle", "wb" ) )